
body{
    background-color: #F2F3F5;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    /* height: 3300px; */
    overflow-x: hidden;
    margin: 0px;

}
.pic1{
    background-color:white ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
    height: 390px;

} 
.topnav{
    width: 100%;
    height: 60px;
    background-color: white;
    border: 0px;
    margin: 0px;
    z-index: 1000;
}
.topnav img{
    border-radius: 100%;
    height: 40px;
    width: 40px;
    float: left;
    margin: 10px;
}

.mainchinh{
    display: flex;
    justify-content: center;
}
.SearchBar{
    height: 50%;
    width: 17%;
    border-radius: 20px;
    margin-top: 15px;
    font-size: 20px;
    background-color: #f2f3f5;
    border: 0px;
    background-image: url('/assets/img/searchw.jpg');
    background-position: 10px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding: 4px 15px 2px 30px;
    color: black;
    outline: none;
    margin-right: 30px;
}
.SearchBar:hover
::placeholder{
    font-size: 10px;
    
}
.iconnaruto{
    color: rgb(0, 100, 250);
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom:12px;
    border-bottom: 3px solid rgb(0, 100, 250);
    margin-left: 30px;
    padding-top: 14px;
    cursor: pointer;
}
.iconmadara{
    color: #d8d8d8;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom:12px;
    border-bottom: 3px solid #d8d8d8;
    margin-left: 30px;
    padding-top: 14px;
    cursor: pointer;
}
.iconmadara:hover{
    background-color: rgba(255, 255, 240, 0.164);
}
.iconnaruto:hover{
    background-color: rgba(255, 255, 240, 0.164);
}
.itachi{
    float: right;
}
.iconhinata{
    font-size: 40px;
    border: 3px solid #d8d8d8;
    border-radius: 100%;
    margin: none;
    
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 7px ;
    margin-right: 10px;
    background-color: #d8d8d8   ;
    cursor: pointer;
}

.iconhinata:hover   {
    border: 3px solid gray;
    background-color: gray;
}
.iconsunade{
    font-size: 30px;
    border: 3px solid #d8d8d8;
    border-radius: 100%;
    margin: none;   
    padding:9px;
    padding-left: 11px;
    padding-right: 11px;
    background-color: #d8d8d8;
    margin-right: 10px;
}
.iconsunade:hover   {
    border: 3px solid gray;
    background-color:  gray;
}
.iconavatar{
    font-size: 30px;
    border: 3px solid #d8d8d8;
    border-radius: 100%;
    margin: none;   
    padding:9px;
    padding-left: 11px;
    padding-right: 11px;
    background-color: #d8d8d8;
    margin-right: 10px;
}
.iconavatar:hover   {
    border: 3px solid gray;
    background-color:  gray;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
.kakasi{
    background-color: white;
    width: 100%;
    height: 10px;
    padding: 0px;
    border: 0px;
    margin: 0px;
    color: white;
    
}

  

.VNairline{
      font-size: 40px;
      color: rgb(255, 255, 86);
      margin-left: 90px;
      text-align: center;
  }
  .Sub{
      font-size: 60px;
      color: yellow;
      font-family: Verdana, Tahoma, sans-serif;
      /* display: flex;
      align-items: center;
      justify-content: center; */
      /* height: 200px; */
      text-align: center;
  }

.boruto{
    margin: 20px 0;
    width: 100%;
    display: flex;
}
.collum{
    width: 50%;
}
.collum img {
    width: 100%;
}
.collum p{
    margin: 0px;
    padding: 12.4%;
    
    font-size: 30px;
    color: black;
    background-color: rgba(163, 255, 176, 0.438);
    
}

.height-w100 {
    height: 300px;
    
}
.dropbtn {
    background-color: #d8d8d8;
    color: black;   
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: 30px;

    border-radius: 100%;
    margin: none;   
    padding:11px;
    padding-left: 16px;
    padding-right: 16px;
    
    margin-right: 10px;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;

    z-index: 1;
}
  
  .dropdown-content a {
    color: black;
    padding: 12px ;
    text-decoration: none;
    display: block;
}
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
    
    background-color:  gray;
    
}
.dropdown-content{
    right: 5px;
    min-width: 200px;
}
  
.dropdown:hover .dropbtn {
    background-color: gray;
} 
.footer {
    width: 100%;
    height: 300px;
    background-color: gray;
    text-align: center;
    border-top:900px solid #F2F3F5   ;
    display: flex;
    align-items: center;
}
.loddd{
    border-radius:100% ;
    width: 66%;
    height: 30%;
    margin: 30px;
    float: left;
}
.kirito{
    width: 30%;
    background-color: rgba(240, 248, 255, 0);
    height: 100%;
    margin: none;
    position: relative;
    font-size: 20px;
}
.rem{
    width: 10%;
    background-color: rgba(240, 248, 255, 0);
    height: 100%;
    margin: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.ioi{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    margin-top:60px ;
}
